apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: run-once-duration-override-operator
  name: run-once-duration-override-operator
  labels:
    runoncedurationoverride.operator: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      runoncedurationoverride.operator: "true"
  template:
    metadata:
      name: runoncedurationoverride
      labels:
        runoncedurationoverride.operator: "true"
    spec:
      serviceAccountName: run-once-duration-override-operator
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: run-once-duration-override-operator
          image: registry.ci.openshift.org/ocp/4.13:run-once-duration-override-operator
          imagePullPolicy: Always
          command:
            - /usr/bin/run-once-duration-override-operator
          args:
            - "start"
            - "--namespace=$(OPERAND_NAMESPACE)"
            - "--v=2"
          env:
            - name: OPERATOR_POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OPERAND_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OPERAND_IMAGE
              value: registry.ci.openshift.org/ocp/4.13:run-once-duration-override-webhook
            - name: OPERAND_VERSION
              value: 1.0.0
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
